.div-style-ce7cdab4 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
}
.div-style-189bd17e {
  justify-content: flex-start;
}
.p-style-33c3a07 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 16px/16px Montserrat, sans-serif;
  color: black;
  white-space: pre-wrap;
}
.div-style-9854692f {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 35.39%;
}
.p-style-8cc24d7e {
  padding: 0;
  margin: 0;
  margin-right: -3px;
  margin-left: -3px;
  color: black;
  white-space: pre-wrap;
}
.span-style-420e77c0 {
  font: 400 16px/16px Montserrat, sans-serif;
  color: black;
  text-align: right;
}
.span-style-8a8b803e {
  font: 400 14px/16px Montserrat, sans-serif;
  color: black;
  text-align: right;
}
.p-style-d2b9f2c {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  color: black;
  white-space: pre-wrap;
}
