.div-style-7335a8f {
  flex: 0 0 auto;
  margin-top: 33px;
}
.p-style-ea0bc968 {
  padding: 0;
  margin: 0;
  font: 800 24px Montserrat, sans-serif;
  color: black;
}
.p-style-ad47a5db {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  font: 600 15px/22.5px Quicksand, sans-serif;
  color: black;
  text-align: left;
}
.div-style-f1a7ffd7 {
  padding-right: 39px;
  padding-left: 39px;
  margin-top: 24px;
}
.div-style-b1851caf {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 168px;
  height: 40px;
  padding-right: 6px;
  padding-left: 6px;
  background: #ffc100;
  border-radius: 15px;
}
.p-style-dd90004b {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 700 16px Poppins, sans-serif;
  color: black;
  text-align: center;
}
