.div-style-985abbe8 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.p-style-53b6454 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 592px;
  padding: 0;
  margin: 0;
  margin-left: 245px;
  font: 800 36px/43px Montserrat, sans-serif;
  color: #ffc100;
  text-align: center;
}
.p-style-5cf84c55 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 133px;
  padding: 0;
  margin: 0;
  margin-top: 11.5px;
  margin-left: 70px;
  font: 500 16px Montserrat, sans-serif;
  color: #798089;
  text-align: center;
}
