.div-style-7f2c791b {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: black;
}
.div-style-242221d9 {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 64px;
  background: #ffc100;
}
