.div-style-ec0b4a2a {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 42px;
}
.p-style-3ebead9d {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 703px;
  padding: 0;
  margin: 0;
  font: 700 36px/28px Montserrat, sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.div-style-eac0e57 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 41px;
}
.p-style-7fc879fd {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 1206px;
  padding: 0;
  margin: 0;
  font: 500 20px Montserrat, sans-serif;
  color: #ffc100;
  text-align: center;
}
.p-style-ee912f97 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 152px;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  font: 500 20px Montserrat, sans-serif;
  color: #007bff;
  text-align: center;
  text-decoration-line: underline;
}
